#rect0 {
	height:80px;
	color: rgb(255,255,255);
}
#rectSide {
	max-height:100%;
	color: rgb(255,255,255);
}
.navigation {
  font-size: 15px;
  font-family: "Helvetica";
  color: rgb(50, 50, 50) !important;

  line-height: 80px;
  text-align: center;
  position: inherit;
  left: 439.844px;
  top: 45.887px;
}
.navigation:hover {

	font-weight:bold;
	text-decoration:underline;
}
.con0 {
	
	padding-left:10px;
	padding-right:10px;
	display:inline-block;
	text-align:center;
	float:left;
}
@media screen and (min-width:360px) {
	
}
@media screen and (min-width:480px) {
	
}
@media screen and (min-width:960px) {
	
}
@media screen and (min-width:1280px) {
	
}
@media screen and (min-width:1400px) {
	
}
